<div th:fragment="fecha">
    <form action="/fechas"   method="POST">
        <div class="mb-3">
            <label for="" class="label1">Check in</label>
            <input type="date" class="input1" name="Checkin" placeholder="" th:value="${CheckIn}">
                <label for="" class="label2">Check out</label>
                <input type="date" class="input2" name="Checkout" placeholder="" th:value="${CheckOut}">
                    <p class="label2" id="error" th:if="${exito != null}" th:text="${exito}" style="color:rgb(142, 240, 76);"></p>
                    <p class="label2" id="error" th:if="${error != null}" th:text="${error}" style="color:red;"> </p>
                    </div>
                    <button type="submit">
                        <span class="label">buscar</span>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                        </span>
                    </button>
    </form>
</div>
<div th:fragment="fechasLogueado">
    <form action="/usuario/fechasLogueado"   method="POST">
        <div class="mb-3">
            <label for="" class="label1">Check in</label>
            <input type="date" class="input1" name="Checkin" placeholder="" th:value="${CheckIn}">
                <label for="" class="label2">Check out</label>
                <input type="date" class="input2" name="Checkout" placeholder="" th:value="${CheckOut}">
                    <p class="label2" id="error" th:if="${exito != null}" th:text="${exito}" style="color:rgb(142, 240, 76);"></p>
                    <p class="label2" id="error" th:if="${error != null}" th:text="${error}" style="color:red;"> </p>
                    </div>
                    <button type="submit">
                        <span class="label">buscar</span>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                        </span>
                    </button>
    </form>
</div>

<div th:fragment="personas">
<form action="/personas"   method="POST">
            <input type="date" hidden name="Checkin" placeholder="" th:value="${CheckIn}"></input>
            <input type="date" hidden name="Checkout" placeholder="" th:value="${CheckOut}"></input>
        <div class="mb-3">
                <label for="" class="label1">Cantidad de personas</label>
                <input type="number" class="input1" name="CantidadPersonas" value ="0" min="0" th:max="${cantidadDePersonas}" >
                <!--//probar el max con th:value para limitar--> 
                <label for="" class="label2">Habitación doble</label>
                <input type="number" class="input2" name="Habitacion2Personas" placeholder="" value ="0" min="0" th:max="${disponibles2}" >
                <!--th:max es la etiqueta THYMELEAF que etea el MÁXIMO de estos INPUTS-->
                <label for="" class="label3">Habitación cuádruple</label>
                <input type="number" class="input3" name="Habitacion4Personas" placeholder="" value ="0" min="0" th:max="${disponibles4}" >
                <label for="" class="label4">Habitación séxtuple</label>
                <input type="number" class="input4" name="Habitacion6Personas" placeholder="" value ="0" min="0" th:max="${disponibles6}" >
                <p class="input3" id="error" th:if="${error != null}" th:text="${error}" style="color:red;"> </p>
            </div>
        <button type="submit">
                <span class="label">buscar</span>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </span>
            </button>
        </form>
</div>

<div th:fragment="personasLogueado">
<form action="/usuario/personasLogueado"   method="POST">
            <input type="date" hidden name="Checkin" placeholder="" th:value="${CheckIn}"></input>
            <input type="date" hidden name="Checkout" placeholder="" th:value="${CheckOut}"></input>
            <div class="mb-3">
                <label for="" class="label1">Cantidad de personas</label>
                <input type="number" class="input1" name="CantidadPersonas" value ="0" min="0" th:max="${cantidadDePersonas}" >
                <!--//probar el max con th:value para limitar--> 
                <label for="" class="label2">Habitación doble</label>
                <input type="number" class="input2" name="Habitacion2Personas" placeholder="" value ="0" min="0" th:max="${disponibles2}" >
                <!--th:max es la etiqueta THYMELEAF que etea el MÁXIMO de estos INPUTS-->
                <label for="" class="label3">Habitación cuádruple</label>
                <input type="number" class="input3" name="Habitacion4Personas" placeholder="" value ="0" min="0" th:max="${disponibles4}" >
                <label for="" class="label4">Habitación séxtuple</label>
                <input type="number" class="input4" name="Habitacion6Personas" placeholder="" value ="0" min="0" th:max="${disponibles6}" >
                <p class="input3" id="error" th:if="${error != null}" th:text="${error}" style="color:red;"> </p>
            </div>
            <button type="submit">
                <span class="label">buscar</span>
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </span>
            </button>
    </form>
    </div>

